@font-face {
    font-family: main_font;
    src: url(files/font.woff2);
}

*{
    padding: 0;
    margin: 0;
    font-family: main_font, sans-serif;
}


body{
    background-color: beige;
}

#title{
    width: 100vw;
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#menu{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.item-menu{
    font-size: 3vw;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 25px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: rgb(43, 40, 40);
    text-shadow: 0 0 15px dodgerblue;
    transition: 1s;
}

.item-menu:hover{
    color: dodgerblue;
    text-shadow: 0 0 15px rgb(43, 40, 40);;
}

.active{
    color: dodgerblue;
    text-shadow: 0 0 15px rgb(43, 40, 40);
}


@media (max-width:500px) {
    #title{
        font-size: 10vw;
    }
    .item-menu{
        font-size: 7vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
}


.main-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_product{
    text-align: center;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.img_product{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 1.5vh;

}
.price{
    position: fixed;
    top: 65vh;
    width: 100vw;
    text-align: center;
    font-size: 5vw;
}
.luanguage{
    width: 40vw;
    font-size: 5vw;
}